@import "overrides";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins/_buttons";

@import url('https://fonts.googleapis.com/css?family=Lato:900|Oswald:500&display=swap');

html, body {
  background-color: $dark;
  font-family: 'Oswald';
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  padding: 12px 26px;
  border: 2px solid $gray-blue;
}

.btn-primary{
  @include button-variant($primary, $dark, $white, $white, $gray-100, $gray-100);
}

.btn:hover, .btn:active{
  box-shadow: 0px 0px 10px 0px rgba($white, 1);
}

.btn-dark{
  @include button-variant($dark, $gray-blue, $white, $white, $gray-100, $gray-100);
  color: $gray-blue;
}

.btn-last-level{
  @include button-variant($dark, $secondary, $white, $white, $gray-100, $gray-100)
}

h1{
  margin: 28px 0px;
}