$primary: #5f6dc5;
$dark-primary: #394076;
$secondary: #fb5f50;
$dark: #232845;
$darker-blue: #2c314f;
$dark-blue: #353a58;
$gray-blue: #545977;
$lightgray-blue: #8e94ae;
$font-size-base: 0.875rem;
// $component-active-bg: white;

:root{
    --dark-primary: #{$dark-primary};
    --gray-blue: #{$gray-blue};
    --dark-blue: #{$dark-blue};
    --darker-blue: #{$darker-blue};
    --lightgray-blue: #{$lightgray-blue};
  }